{% extends "v_layout.twig" %}
{% block contenu %}

<div class="row">

	<table>
		<caption>Recapitulatifs des types de transaction</caption>
		<thead>
			<tr>
				<th>id</th>
				<th>Type</th>
				{% if is_granted('ROLE_ADMIN') %}
				<th>opération</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for op in data if data is not empty %}
			<tr>
				<td>{{op.id_type}}</td>
				<td>{{op.libelle_operation}}</td>
				{% if is_granted('ROLE_ADMIN') %}
				<td><a
					href="{{ path('typeoperation.edit', {id: op.id_type}) }}">modifier</a>
					<a href="{{ path('typeoperation.delete', {id: op.id_type}) }}">supprimer</a>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		<tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
	<a href="{{ path('typeoperation.add') }}"> Saisir un type </a>
	{% endif %}
</div>
{% endblock %}
