

<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1>
				<a href="">Sujet 3</a>
			</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="divider"></li>
			<li class="has-dropdown"><a href="#">Transactions</a>
				<ul class="dropdown">
					{% if is_granted('ROLE_ADMIN') %}
					<li><a href="{{ path('operation.add') }}"> créer une
							transaction </a></li>
					{% endif %}
					<li><a href="{{ path('operation.show') }}">afficher les
							transactions</a></li>
				</ul></li>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<li class="has-dropdown"><a href="#">Type de Transactions</a>
				<ul class="dropdown">
					{% if is_granted('ROLE_ADMIN') %}
					<li><a href="{{ path('typeoperation.add') }}"> créer une
							transaction </a></li>
					{% endif %}
					<li><a href="{{ path('typeoperation.show') }}">afficher
							les types</a></li>
				</ul></li>
			{% endif %}
		</ul>
		<ul class="right">
			<li>{% if is_granted('IS_AUTHENTICATED_FULLY') %} <a
				href="{{ path('logout') }}">Logout</a> {% else %} <a
				href="{{ path('user.login') }}">Login</a> {% endif %}</li>
		</ul>
	</section>
</nav>